@using EComm_Project
@using EComm_Project_Models.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<a href="d:\aspdotnetpractice\ecomm_project\ecomm_project\views\_viewimports.cshtml">d:\aspdotnetpractice\ecomm_project\ecomm_project\views\_viewimports.cshtml</a>